@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        @Body
    </Authorized>
    <NotAuthorized>
        <div class="login">
            @if(!_isRegister)
            {
                <LoginComponent OnRegisterClick="ToggleRegister"></LoginComponent>
            } else
            {
                <RegisterComponent OnBack="ToggleRegister"></RegisterComponent>
            }
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool _isRegister;

    private void ToggleRegister() => _isRegister = !_isRegister;

}