@using Domain.Models
@using Microsoft.AspNetCore.Components.Forms

<MudContainer Class="d-flex justify-center my-4" Style="height: calc(100vh - 100px); max-width: unset !important">
	<MudItem xs="12" sm="8" md="6" lg="4" xl="3">
		<MudPaper Elevation="1" Class="d-flex flex-column px-2 py-4 gap-2 align-center">
            <MudAvatar Size="Size.Large" Class="profile position-relative" Variant="Variant.Outlined" Style="border : 1px solid #d3d3d3;">
                <MudImage Src="@Profile.Photo"></MudImage>
            </MudAvatar>
            <MudStack Justify="Justify.Center" Spacing="2" Style="width: 100%;">
                
                    <div class="d-flex justify-center">
                        <MudFileUpload Class="d-flex justify-center" T="IBrowserFile" Accept="*" @bind-File="selectedFile" FilesChanged="UploadFiles">
		                    <ActivatorContent>
			                    <MudButton StartIcon="@Icons.Material.Filled.Upload" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small">Upload</MudButton>
		                    </ActivatorContent>
	                    </MudFileUpload>
                    </div>
                    <MudDivider/>


              
                    <MudDivider/>
                    <MudButton OnClick="OnSave" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Save</MudButton>
                
            </MudStack>
        </MudPaper>
    </MudItem>
</MudContainer>


@code {
    private IBrowserFile? selectedFile;

    [Parameter] public ProfileInfo Profile { get; set; } = new();
    [Parameter] public EventCallback<ProfileInfo> OnProfileChanged { get; set; }


    private async Task UploadFiles(IBrowserFile file)
    {
        selectedFile = file;
        if (selectedFile != null)
        {
            await ChangePicture();
        }
    }
    public async Task ChangePicture ()
    {
        using (MemoryStream memoryStream = new MemoryStream())
        {
            await selectedFile.OpenReadStream(209715200).CopyToAsync(memoryStream);

            Profile.ProfilePicture = memoryStream.ToArray();

            StateHasChanged();
        }
    }
    private void OnSave()
    {
        OnProfileChanged.InvokeAsync(Profile);
    }

}
<style>
    .profile.mud-avatar.mud-avatar-large {
        height: 200px;
        width: 200px;
    }

</style>